<h1><a href="/teams">Your Teams</a><br>All Teams</h1>
<% @users.each do |user|  %>
  <div class="user_teams">
    <h2><img src="<%= user.image %>" height="50" width="50"><%= user.name %></h2>
    <% user.teams.each do |team| %>
      <table>
        <th><a href="/teams/details/<%= team.slug %>"><%= team.name %></a></th>
        <% team.characters.each do |char|  %>
          <tr><td><%= char.name %></td></tr>
        <% end  %>
      </table>
      <hr>
    <%end  %>
  </div>
<% end  %>