<div class="team_display">
<h2><a href="/teams/details/<%= team.slug %>"><%= team.name %></a></h2>
<p><a href="/teams/edit/<%= team.id %>">Change Name</a>---<a href="/teams/delete/<%= team.id %>">Delete</a></p>
<table>
  <% team.characters.each do |char|  %>
    <tr><td><%= char.name %>---<a href='/teams/unassign/<%= char.id %>'>Unassign</a></td></tr>
  <% end  %>
</table>
<% if team_full?(team) == false %>
<% if @current_user.characters.where(team_id: 0) == []  %>
  <p>No Characters to Assign</p>
<% else  %>
<p>Assign New Character</p>
<form action="/teams/assign" method="post">
  <input type="hidden" name="team_id" value="<%= team.id %>">
  <select name="char_to_assign">
    <% @current_user.characters.where(team_id: 0).each do |char| %>
    <option value="<%=char.id  %>"><%= char.name %></option>
    <%end  %>
  </select>
  <input type="submit" value="Submit">
</form>
<% end  %>
<%else%><p>This Team is full.</p>
<% end %>
</div>
  