<div class="message">
<% if message.to_user_id == @current_user.id %>

  <h4>From: <%= message.get_from_user_name %></h4>
  <p><%= message.body %></p>
  <a href="/messages/new/<%= message.from_user_id %>">Reply</a>
  <% if message.trade == "yes" %>
    <p> Offered <%= message.get_offered_char_name %> for <%= message.get_requested_char_name %></p>
  <form action="/confirm_trade" method="post">
    <input type="hidden" name="message_id" value="<%= message.id %>">
    <input type="hidden" name="user2_id" value="<%= message.from_user_id %>">
    <input type="hidden" name="char2_id" value="<%= message.offered_char %>">
    <input type="hidden" name="char1_id" value="<%= message.requested_char %>">
    <input type="submit" value="Accept Trade">
  </form>
  <% elsif message.trade == "finished"  %>
    <p> <%= message.get_requested_char_name %> was traded for <%= message.get_offered_char_name %></p>
  <% end  %>
  <% else  %>
  <h4>To: <%= message.get_to_user_name %></h4>
  <p><%= message.body %></p>
  <% if message.trade == "yes" %>
    <p> Offered <%= message.get_offered_char_name %> for <%=     message.get_requested_char_name %></p>
  <% elsif message.trade == "finished"  %>
    <p> <%= message.get_requested_char_name %> was traded for <%= message.get_offered_char_name %></p>
  <% end  %>
<% end  %>
</div>