<div class="confirm_user_creation">
<h3> User Name: <%= @new_user.name %></h3>
<h3> User Password: <%= @new_user.password %></h3>
<img src="<%= @new_user.image %>" width="160" height="180">

<form action="/login/user/create_profile" method="post">
  <input type="hidden" name="name" value="<%=@new_user.name%>">
  <input type="hidden" name="password" value="<%=@new_user.password%>">
  <input type="hidden" name="image" value="<%= @new_user.image %>">
  If the information above looks correct, click Submit.<br>
  <input type="submit" value="Submit">
</form>
<a href="/login/user/setup">Click here to return to User Setup</a>
</div>