<div class="wishlist_char">
<h3><%= char.name %></h3>

<img src="<%= char.image %>" alt="Woops, no picture" width="240" height="180">

<p><%= char.description %></p>
<p>Popularity: <%= char.popularity %></p>
<% if char.user_id == 0 %>
  <form action="/characters/swap_user" method="post">
    This Character is Available!
    <input type="hidden" name="id" value="<%= fetch_id(char.name) %>">
    <input type="submit" value="Add">
  </form>
<p>Current Owner: <%= char.find_owner.name %>----<a href="/messages/new/<%= char.find_owner.id %>">Send Message</a></p>
<% end  %>
</div>